<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=windows-1252" />
	<title></title>
	<meta name="generator" content="LibreOffice 7.0.4.2 (Windows)" />
	<meta name="created" content="2021-07-24T22:33:54.952000000" />
	<meta name="changed" content="2021-07-24T23:16:58.749000000" />
	<style type="text/css">
		@page {
			size: 8.5in 11in;
			margin: 0.79in
		}

		p {
			margin-bottom: 0.1in;
			line-height: 115%;
			background: transparent
		}

		td p {
			orphans: 0;
			margin-top: 0in;
			margin-bottom: 0in;
			widows: 0;
			background: transparent
		}

		a:link {
			color: rgb(0, 0, 128);
			so-language: zxx;
			text-decoration: underline
		}

		a:visited {
			color: rgb(128, 0, 0);
			so-language: zxx;
			text-decoration: underline
		}
	</style>
</head>

<body lang="en-US" link="rgb(0, 0, 128)" vlink="rgb(128, 0, 0)" dir="ltr">
	<p align="center" style="margin-bottom: 0in; line-height: 100%">
		<br />

	</p>
	<p align="center" style="margin-bottom: 0px; line-height: 100%">
		<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt"><u>SURAT
				PERINTAH PERJALANAN DINAS</u></font>
	</p>
	<p align="center" style="margin-bottom: 0in; margin-top:0in; line-height: 100%">
		<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">NOMOR:
			{{numCombined}}</font>
	</p>
	<p style="margin-bottom: 0in; line-height: 100%"><br />

	</p>
	<table width="665" cellpadding="4" cellspacing="0">
		<col width="22" />

		<col width="208" />

		<col width="16" />

		<col width="387" />

		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">1.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Pejabat dan Jabatan yang Berwenang Memberikan Izin</font>
				</p>
				<p><br /></p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{grantorName}}</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{grantorPosition}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">2.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Nama
						dan Jabatan yang Diperintah</font>
				</p>
				<p><br /></p>
				<p><br /></p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{granteeName}}</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{granteePosition}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">3.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Tempat
						Berangkat</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Tempat Tujuan</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelDeparture}}</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelDestination}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">4.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Alat Angkutan yang Digunakan</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelVehicle}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">5.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Maksud
						Perjalanan Dinas</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelReason}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">6.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Lamanya
						Perjalanan Dinas</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Tanggal Berangkat</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Tanggal Kembali</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelLength}}
						hari</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelDate}}</font>
				</p>
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelDateBack}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">7.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Jarak</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelLengthType}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">8.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Penanggung
						Perjalanan Dinas</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{guarantorName}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">9.</font>
				</p>
			</td>
			<td width="208" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Keterangan
						Lain-lain</font>
				</p>
				<p><br />

				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="387" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{otherInfo}}</font>
				</p>
			</td>
		</tr>
	</table>
	<p lang="zxx" style="margin-bottom: 0in; line-height: 100%"><br />

	</p>
	<table width="665" cellpadding="4" cellspacing="0">
		<col width="22" />

		<col width="70" />

		<col width="16" />

		<col width="525" />

		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p><br />

				</p>
			</td>
			<td width="70" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Datang
						di</font>
				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="525" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelArrival}}</font>
				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="22" style="border: none; padding: 0in">
				<p><br />

				</p>
			</td>
			<td width="70" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Tanggal</font>
				</p>
			</td>
			<td width="16" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
				</p>
			</td>
			<td width="525" style="border: none; padding: 0in">
				<p>
					<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{travelArrivalDate}}</font>
				</p>
			</td>
		</tr>
	</table>
	<p lang="zxx" style="margin-bottom: 0in; line-height: 100%"><br />

	</p>
	<p lang="zxx" style="margin-bottom: 0in; line-height: 100%"><br />


	</p>
	<dl style="float: right;">
		<dl>
			<dl>
				<dl>
					<dd>
						<table width="498" cellpadding="4" cellspacing="0">
							<col width="124" />

							<col width="106" />

							<col width="10" />

							<col width="226" />

							<tr valign="top">
								<td width="124" style="border: none; padding: 0in">
									<p><br />

									</p>
								</td>
								<td width="106" style="border: none; padding: 0in">
									<p>
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Dikeluarkan
											di</font>
									</p>
								</td>
								<td width="10" style="border: none; padding: 0in">
									<p>
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
									</p>
								</td>
								<td width="226" style="border: none; padding: 0in">
									<p>
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">BANDUNG</font>
									</p>
								</td>
							</tr>
							<tr valign="top">
								<td width="124" style="border: none; padding: 0in">
									<p><br />

									</p>
								</td>
								<td width="106" style="border: none; padding: 0in">
									<p>
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">Pada
											Tanggal</font>
									</p>
								</td>
								<td width="10" style="border: none; padding: 0in">
									<p>
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">:</font>
									</p>
								</td>
								<td width="226" style="border: none; padding: 0in">
									<p><br />

									</p>
								</td>
							</tr>
							<tr>
								<td colspan="4" width="490" height="22" valign="top" style="border: none; padding: 0in">
									<p align="center">

										<br />

									</p>
								</td>
							</tr>
							<tr>
								<td colspan="4" width="490" valign="top" style="border: none; padding: 0in">
									<p align="center">
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 9pt">PT BANK PEMBANGUNAN
											DAERAH JAWA BARAT DAN BANTEN, Tbk.</font>
									</p>
								</td>
							</tr>
							<tr>
								<td colspan="4" width="490" valign="top" style="border: none; padding: 0in">
									<p>
										<br />

									</p>
									<p><br />

									</p>
									<p><br />

									</p>
									<p><br />

									</p>
								</td>
							</tr>
							<tr>
								<td colspan="4" width="490" valign="top" style="border: none; padding: 0in">
									<p align="center">
										<font face="Myriad Pro, sans-serif"size="2" style="font-size: 11pt">{{grantorName}}</font>
									</p>
								</td>
							</tr>
						</table>
				</dl>
			</dl>
		</dl>
	</dl>
	<p lang="zxx" style="margin-bottom: 0in; line-height: 100%"><br />

	</p>
</body>

</html>