{{> navlogin}}
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h1>Data Entry Perjalanan Dinas</h1>
    </div>
  </div>
  <div class="row">
    <div id="alertCol" class="col">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="mb-2">
        <label for="granteeName" class="form-label">Nomor</label>
        <div class="input-group">
          <input type="text" class="form-control" id="numPrefix" placeholder="000" disabled readonly>
          <input type="text" class="form-control" id="numMiddle" placeholder="XX" value="/ST-DIR/" disabled readonly>
          <input type="text" class="form-control" id="numPostfix" placeholder="XX" disabled readonly>
          <input type="text" class="form-control" id="numYear" placeholder="YYYY" disabled readonly>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-2">
        <label for="grantorName" class="form-label">Pejabat dan Jabatan yang Berwenang Memberikan Izin</label>
        <div class="input-group">
          <input type="text" class="form-control" id="grantorName">
          <select class="form-select" id="grantorPosition" placeholder="Jabatan">
            <option disabled selected value>---Jabatan---</option>
            {{#each data.position}}
            <option value="{{{positionCode}}}">{{{positionName}}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="mb-2">
        <label for="granteeName" class="form-label">Nama dan Jabatan Diperintah</label>
        <div class="input-group">
          <input type="text" class="form-control" id="granteeName" placeholder="Nama">
          <select class="form-select" id="granteePosition" placeholder="Jabatan">
            <option disabled selected value>---Jabatan---</option>
            {{#each data.position}}
            <option value="{{{positionCode}}}">{{{positionName}}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="mb-2">
        <label for="travelDeparture" class="form-label">Tempat Berangkat</label>
        <input type="text" class="form-control" id="travelDeparture">
      </div>
      <div class="mb-2">
        <label for="travelDestination" class="form-label">Tempat Tujuan</label>
        <input type="text" class="form-control" id="travelDestination">
      </div>
      <div class="mb-2">
        <label for="travelVehicle" class="form-label">Alat Angkutan yang Digunakan</label>
        <input type="text" class="form-control" id="travelVehicle">
      </div>
      <div class="mb-2" hidden>Alat Angkutan yang Digunakan
        <label for="travelType" class="form-label">Jenis Perjalanan Dinas</label>
        <input type="text" class="form-control" id="travelType">
      </div>
      <div class="mb-2">
        <label for="travelArrival" class="form-label">Datang di</label>
        <div class="input-group">
          <input type="text" class="form-control w-50" id="travelArrival" placeholder="Tempat">
          <input type="text" class="form-control w-50" id="travelArrivalDate" placeholder="Tanggal">
        </div>
      </div>
      <div class="mb-2">
        <label for="travelReason" class="form-label">Maksud Perjalanan</label>
        <textarea type="text" class="form-control" id="travelReason" rows="3"></textarea>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="mb-2">
        <label for="travelLengthType" class="form-label">Jarak</label>
        <select class="form-select" id="travelLengthType" placeholder="Jarak">
          <option disabled selected value>---Jarak---</option>
          {{#each data.travelType}}
          <option value="{{{id}}}">{{{travelName}}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-2">
        <label for="travelLength" class="form-label">Lama Perjalanan</label>
        <div class="input-group w-50">
          <input type="text" class="form-control" id="travelLength">
          <div class="input-group-text">Hari</div>
        </div>
      </div>
      <div class="mb-2">
        <label for="travelDate" class="form-label">Tanggal Berangkat</label>
        <input type="text" class="form-control w-50" id="travelDate">
      </div>
      <div class="mb-2">
        <label for="travelDateBack" class="form-label">Tanggal Kembali</label>
        <input type="text" class="form-control w-50" id="travelDateBack">
      </div>
      <div class="mb-2">
        <label for="guarantorName" class="form-label">Penanggung Perjalanan Dinas</label>
        <input type="text" class="form-control" id="guarantorName">
      </div>
      <div class="mb-2">
        <label for="otherInfo" class="form-label">Keterangan Lain-lain</label>
        <textarea type="text" class="form-control" id="otherInfo" rows="3"></textarea>
      </div>

    </div>

  </div>
  <div class="row mb-3">
    <div class="offset-lg-6 col-lg-6">
      <button id="btnClear" type="button" class="btn btn-warning" type="button" onclick="ClearFields();">Clear</button>
      <button id="btnSave" type="button" class="btn btn-primary" type="button" onclick="SaveEntry();">Save</button>
    </div>
  </div>

</div>
<script src="/scripts/staff/staff.bundle.js"></script>