{{> navlogin}}
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h1>List Entry Perjalanan Dinas</h1>
    </div>
  </div>
  <div class="row">
    <div id="alertCol" class="col">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h2>Master Data</h2>
    </div>
  </div>


  <div class="row border mb-2">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3>Filter</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="mb-2">
            <label for="filterNomor" class="form-label">No</label>
            <input type="text" class="form-control" id="filterNomor">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="mb-2">
            <label for="filterName" class="form-label">Nama</label>
            <input type="text" class="form-control" id="filterName">
          </div>
          <div class="mb-2">
            <select class="form-select" id="filterPosition" placeholder="Jabatan">
              <option selected value>---Jabatan---</option>
              {{#each data.position}}
              <option value="{{{positionCode}}}">{{{positionName}}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="mb-2">
            <label for="filterDateFrom" class="form-label">Tanggal Dinas</label>
            <div class="input-group">
              <input type="text" class="form-control" id="filterDateFrom" placeholder="Dari">
              <div class="input-group-text">sampai</div>
              <input type="text" class="form-control" id="filterDateTo" placeholder="Sampai">
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3">
          <div class="mb-2">
            <button id="btnFilterClear" type="button" class="btn btn-warning" type="button"
              onclick="ClearFilterFields();">Clear</button>
            <button id="btnEditSave" type="button" class="btn btn-primary" type="button"
              onclick="SearchEntry();">Search</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row border mb-2">
    <div class="col">
      <div class="row table-responsive pt-2">
        <table id="tableEntry" class="col table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nomor Dok</th>
              <th scope="col">Nama</th>
              <th scope="col">Jabatan</th>
              <th scope="col">Tanggal Dinas</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="mb-2">
            <button id="btnSaveToPDF" type="button" class="btn btn-primary" type="button" onclick="SaveToPDF();">Save To
              PDF</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h2>Edit Data</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="mb-2">
        <label for="granteeName" class="form-label">Nomor</label>
        <div class="input-group">
          <input type="text" class="form-control" id="numPrefix" placeholder="000" disabled readonly>
          <input type="text" class="form-control" id="numMiddle" placeholder="XX" value="/ST-DIR/" disabled readonly>
          <input type="text" class="form-control" id="numPostfix" placeholder="XX" disabled readonly>
          <input type="text" class="form-control" id="numYear" placeholder="YYYY" disabled readonly>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="mb-2" hidden>
        <label for="entryId" class="form-label">Id</label>
        <input type="text" class="form-control" id="entryId">
      </div>
      <div class="mb-2">
        <label for="grantorName" class="form-label">Pejabat yang Berwenang Memberikan Izin</label>
        <input type="text" class="form-control" id="grantorName">
      </div>
      <div class="mb-2">
        <label for="granteeName" class="form-label">Nama dan Jabatan Diperintah</label>
        <div class="input-group">
          <input type="text" class="form-control" id="granteeName" placeholder="Nama">
          <select class="form-select" id="granteePosition" placeholder="Jabatan">
            <option disabled selected value>---Jabatan---</option>
            {{#each data.position}}
            <option value="{{{positionCode}}}">{{{positionName}}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="mb-2">
        <label for="travelDeparture" class="form-label">Tempat Berangkat</label>
        <input type="text" class="form-control" id="travelDeparture">
      </div>
      <div class="mb-2">
        <label for="travelDestination" class="form-label">Tempat Tujuan</label>
        <input type="text" class="form-control" id="travelDestination">
      </div>
      <div class="mb-2">
        <label for="travelType" class="form-label">Jenis Perjalanan Dinas</label>
        <input type="text" class="form-control" id="travelType">
      </div>
      <div class="mb-2">
        <label for="travelArrival" class="form-label">Datang di</label>
        <div class="input-group">
          <input type="text" class="form-control w-50" id="travelArrival" placeholder="Tempat">
          <input type="text" class="form-control w-50" id="travelArrivalDate" placeholder="Tanggal">
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="mb-2">
        <label for="travelReason" class="form-label">Maksud Perjalanan</label>
        <textarea type="text" class="form-control" id="travelReason" rows="3"></textarea>
      </div>
      <div class="mb-2">
        <label for="travelLengthType" class="form-label">Jarak</label>
        <select class="form-select" id="travelLengthType" placeholder="Jarak">
          <option disabled selected value>---Jarak---</option>
          {{#each data.travelType}}
          <option value="{{{id}}}">{{{travelName}}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-2">
        <label for="travelDate" class="form-label">Tanggal Perjalanan Dinas</label>
        <input type="text" class="form-control w-50" id="travelDate">
      </div>
      <div class="mb-2">
        <label for="travelLength" class="form-label">Lama Perjalanan</label>
        <div class="input-group w-50">
          <input type="text" class="form-control" id="travelLength">
          <div class="input-group-text">Hari</div>
        </div>
      </div>
      <div class="mb-2">
        <label for="guarantorName" class="form-label">Penanggung Perjalanan Dinas</label>
        <input type="text" class="form-control" id="guarantorName">
      </div>
      <div class="mb-2">
        <label for="otherInfo" class="form-label">Keterangan Lain-lain</label>
        <textarea type="text" class="form-control" id="otherInfo" rows="3"></textarea>
      </div>

    </div>

  </div>

  <div class="row mb-3">
    <div class="offset-lg-6 col-lg-6">
      <button id="btnEditClear" type="button" class="btn btn-warning" type="button"
        onclick="ClearFields();">Clear</button>
      <button id="btnEditSave" type="button" class="btn btn-primary" type="button"
        onclick="SaveEditEntry();">Save</button>
    </div>
  </div>

</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-ok">Ok</button>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/staff/staff.bundle.js"></script>